 /* ==== Custom media === */
 .skill-section-2 h1 {
    left: 0;
  }
 @media (min-width:1023px) and (max-width:1024px) {
    .skill-sub-sec {
      margin-top: 50px;
    }
    .skills {
      width: 100%;
      line-height: 3.5rem;
      margin-left: 1.5rem;
  }
  .about-meter {
    grid-template-columns: repeat(2,300px);
    gap: 125px;
    margin-top: 65px;
}
   }
   @media (min-width:767px) and (max-width:768px) {
    .meter-sub-section {
        display: grid;
        grid-template-columns: repeat(2,235px);
        justify-content: center;
        margin-top: 95px;
        gap: 107px;
        margin-bottom: 50px;
    }
   }
   @media (min-width:27px) and (max-width:1240px) {
   
    
    .skill-section-2 {
        margin-left: 20px;
        margin-top: 20px;
        justify-content: center;
    }
    .skill-section-2 h1 {
        margin-top: 6px;
        position: relative;
        top: 0px;
        left: 0px;
    }
   }


   @media(min-width:1500px) and (max-width:2300px) {
    .skill-section {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1025px 770px;
        justify-content: center;
        margin-top: 80px;
    }
  
    .maxh1 {
        left: 95px !important;
        width: 75%;
        margin-bottom: 85px;
    }
   }