@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Barlow:wght@300&family=Montserrat:wght@300;600;700;900&family=Open+Sans:wght@300;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
}
:root {
    --primary-white: #fff;
    --fontweight-500: 600;
    --primary-bg: #b558fe;
    --primary-black: #000;
    --primary-grey:#838383;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
.OurContactform {
    width: 100%;
    display: flex;
    justify-content: center;
}
.ourcontactform-title {
    padding: 30px;
    width: 110%;
    display: flex;
    justify-content: center;

}
.ourcontactform-title  h2 {
    margin-bottom: 10px;
}
.ourcontactform-title  p {
    font-size: 0.7rem;
    color: var(--primary-grey);
    line-height: 1.3rem;
    width: 340px;
 
}
.descriptionofourmaincontact {
    display: flex;
    justify-content: center;
}
.ourContactdetail {
    display: grid;
}
.ourContactdetail a {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    background-color: #ecdef7;
    color: var(--primary-bg);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    margin-left: 50px;
    transition: all 0.3s;
  

}


.ourContactdetail a p {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.ourContactdetail a ion-icon {
    font-size: 0.9rem;
    margin-left: 10px;

}
.ourContactdetail a:hover {
    background-color: var(--primary-bg);
    color: var(--primary-white);
}
.ourMainform {
    display: flex;
    justify-content: center;
    width: 113%;
}
.submitbtn {
    width: 350px;   
    background-color: var(--primary-bg);
    margin-top: 20px;
}
@media(min-width:1500px) and (max-width:2500px) {
    .OurContactform {
        width: 93%;
        display: flex;
        justify-content: center;
    }
}
@media(min-width:450px) and (max-width:500px) {
    .OurContactform {
        justify-content: flex-start;
    }
    .ourMainActionForm {
        margin-left: 0px !important;
    }
}
@media(min-width:420px) and (max-width:449px) {
    .OurContactform {
        justify-content: flex-start;
    }
    .ourcontactform-title {
        width: 100%;
    }
    .ourMainActionForm {
        margin-left: 0 !important;
        position: relative;
        left: 40px;
    }
    .ourMainform {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media(min-width:400px) and (max-width:419px) {
    .OurContactform {
        justify-content: flex-start;
    }
    .ourcontactform-title {
        width: 100%;
    }
    .ourMainActionForm {
        margin-left: 0 !important;
        position: relative;
        left: 40px;
    }
    .ourMainform {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .ourMainform {
        display: flex;
        justify-content: center;
        width: 83%;
    }
    .ourContactdetail a {
        position: relative;
        left: -23px;
    }
}
@media(min-width:50px) and (max-width:399px) {
    .OurContactform {
        justify-content: flex-start;
    }
    .ourcontactform-title {
        width: 100%;
        padding: 20px;
        position: relative;
        left: 10px;
    }
    .ourMainActionForm {
        margin-left: 0 !important;
        position: relative;
        left: 40px;
    }
    .ourMainform {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .ourMainform {
        display: flex;
        justify-content: center;
        width: 83%;
    }
    .ourContactdetail a {
        position: relative;
        left: -23px;
    }
}