  <!-- === header ==== -->
  <div {% if request.path == '/FAQ?/' %} 
    class="primary-bg-black mainheader" 
    {% elif request.path == '/portfolio/' %}
    class="primary-bg-black mainheader" 
    {% elif request.path == '/portfolio/graphicsdesign/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/portfolio/webdevelopment/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/portfolio/videoediting/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/portfolio/seosem/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/portfolio/contentwriting/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/portfolio/digitalmarketing/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/blog/1/' %}
    class="primary-bg-black mainheader"
    {% elif request.path == '/blog/1/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/2/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/3/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/4/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/5/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/6/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/7/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/8/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/9/' %} class="primary-bg-black mainheader" 
{% elif request.path == '/blog/10/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/11/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/12/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/13/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/14/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/15/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/16/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/17/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/18/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/19/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/20/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/21/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/22/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/23/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/24/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/25/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/26/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/27/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/28/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/29/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/30/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/31/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/32/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/33/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/34/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/35/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/36/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/37/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/38/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/39/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/40/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/41/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/42/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/43/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/44/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/45/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/46/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/47/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/48/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/49/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/50/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/51/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/52/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/53/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/54/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/55/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/56/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/57/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/58/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/59/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/60/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/61/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/62/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/63/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/64/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/65/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/66/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/67/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/68/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/69/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/70/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/71/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/72/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/73/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/74/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/75/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/76/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/77/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/78/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/79/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/80/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/81/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/82/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/83/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/84/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/85/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/86/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/87/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/88/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/89/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/90/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/91/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/92/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/93/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/94/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/95/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/96/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/97/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/98/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/99/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/100/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/101/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/102/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/103/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/104/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/105/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/106/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/107/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/108/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/109/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/110/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/111/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/112/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/113/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/114/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/115/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/116/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/117/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/118/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/119/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/120/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/121/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/122/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/123/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/124/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/125/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/126/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/127/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/128/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/129/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/130/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/131/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/132/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/133/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/134/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/137/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/138/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/139/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/140/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/141/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/142/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/143/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/144/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/145/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/146/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/147/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/148/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/149/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/150/' %} class="primary-bg-black mainheader"
PS E:\noSuch table\novo> & "e:/noSuch table/novo/venvnovo/Scripts/Activate.ps1"
(venvnovo) PS E:\noSuch table\novo> & "e:/noSuch table/novo/venvnovo/Scripts/python.exe" "e:/noSuch table/novo/novo/py.py"       
{% elif request.path == '/blog/1/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/2/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/3/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/4/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/5/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/6/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/7/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/8/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/9/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/10/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/11/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/12/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/13/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/14/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/15/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/16/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/17/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/18/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/19/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/20/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/21/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/22/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/23/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/24/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/25/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/26/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/27/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/28/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/29/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/30/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/31/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/32/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/33/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/34/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/35/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/36/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/37/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/38/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/39/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/40/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/41/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/42/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/43/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/44/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/45/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/46/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/47/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/48/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/49/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/50/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/51/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/52/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/53/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/54/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/55/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/56/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/57/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/58/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/59/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/60/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/61/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/62/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/63/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/64/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/65/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/66/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/67/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/68/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/69/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/70/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/71/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/72/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/73/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/74/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/75/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/76/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/77/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/78/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/79/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/80/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/81/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/82/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/83/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/84/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/85/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/86/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/87/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/88/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/89/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/90/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/91/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/92/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/93/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/94/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/95/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/96/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/97/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/98/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/99/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/100/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/101/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/102/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/103/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/104/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/105/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/106/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/107/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/108/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/109/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/110/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/111/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/112/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/113/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/114/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/115/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/116/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/117/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/118/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/119/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/120/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/121/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/122/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/123/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/124/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/125/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/126/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/127/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/128/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/129/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/130/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/131/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/132/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/133/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/134/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/136/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/137/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/138/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/139/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/140/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/141/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/142/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/143/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/144/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/145/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/146/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/147/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/148/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/149/' %} class="primary-bg-black mainheader"
{% elif request.path == '/blog/150/' %} class="primary-bg-black mainheader"
{% elif request.path == '/thankyou/' %} class="primary-bg-black mainheader"
{% else %} 
    class="mainheader"  {% endif %}  
     id="topheader">
    <header id="header">
            <div class="header-icons">
                <a href="https://www.facebook.com/microoworld" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.youtube.com/watch?v=Ehgj5ZPCS04" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
                <a href="https://www.instagram.com/wemicroworld/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://www.linkedin.com/in/micro-world-657a1b253/" target="_blank"><ion-icon name="logo-linkedin" class="linkedin"></ion-icon></a> 
            </div>
            <div class="emptywidth"></div>
            <div class="header-details">
                <div class="personal-details">
                    <div class="personal-details">
                        {% for headeritem in headeritem  %}
                        <div class="border">
                            <a href="https://wa.me/{{headeritem.phoneNumberUrl}}">
                                <ion-icon name="call"></ion-icon>
                                <p>{{headeritem.PhoneNumber}}</p>
                            </a>
                          
                        </div>
                        
                    </div>
                    <div class="personal-details">
                        <div class="border">
                            <a href="mailto:{{headeritem.Email}}">
                                <ion-icon name="mail"></ion-icon>
                                <p>{{headeritem.Email}}</p>
                            </a>
                            
                        </div>

                    </div>
                    {% endfor %}
                
                </div>
            </div>
    </header>            
<div class="navigation-bar" id="navbar">
    <nav>
        <h4>
            {% for navlogo in navLogo %}
             <a href="/" id="logo">{{navlogo.logo}}</a>
            {% endfor %}
        </h4>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="check">
            <div class="hamburger" onclick="change(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </label>
        <ul>
            <!-- <li>{{request.path}}</li>    -->
            <li><a href="/" {% if request.path == '/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Home</a></li>
            <span id="closeIcon">
                <ion-icon name="chevron-up-outline" id="CloseDrop" onclick="CloseDrop()"></ion-icon>
                <ion-icon name="chevron-down-outline"   id="openDrop" onclick="openDrop()"></ion-icon>
            </span>
            <li class="dropitems allNavItems pd-2" id="dropit"><span {% if request.path == '/services/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Services</span>  
                <div class="drop-downmenu" id="dropMenu">
                    <ul>
                        <li><a href="{% url 'services' %}" {% if request.path == '/services/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>All Services</a></li>
                        <li><a href="{% url 'videoediting' %}" {% if request.path == '/videoediting/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Video Editing</a></li>
                        <li><a href="{% url 'graphicsdesigning' %}" {% if request.path == '/graphicsdesigning/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Graphic Design</a></li>
                        <li><a href="{% url 'webdesigning' %}" {% if request.path == '/webdesigning&development/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Web Development</a></li>
                        <li><a href="{% url 'contentservices' %}" {% if request.path == '/contentwriting/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Content Writing</a></li>
                        <li><a href="{% url 'digitalmarketing' %}" {% if request.path == '/digitalmarketing/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Digital Marketing</a></li>
                        <li><a href="{% url 'seosem' %}" {% if request.path == '/seosem/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>SEO/SEM</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{% url 'aboutus' %}"  {% if request.path == '/aboutus/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>About</a></li>
            <li><a href="{% url 'contactus' %}"  id="contactMenu"  {% if request.path == '/contactus/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Contact</a></li>
            <li><a href="{% url 'blog' %}"  {% if request.path == '/blog/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Blog</a></li>
            <li><a href="{% url 'portfolio' %}"  {% if request.path == '/portfolio/' %} class="allNavItems ouractivemenu" style="color: var(--primary-bg) !important;" {% else %}   class="allNavItems" {% endif  %}>Portfolio</a></li>
           
            <p><button id="project-btn" class="btn" onclick="startproject()"><span class="btn_txt">Start Project</span></button></p>   
        </ul>
    </nav>
</div>
</div>
<div id="get-started-con">
<div class="get-started">
    <div class="get-started-content">
        <div class="getstart-title">  
             
            {% for startProjectContactAllDetail in startProjectContactAllDetail %}
            <h1 class="difheader">{{startProjectContactAllDetail.title}}</h1>
            <ion-icon name="close-outline" onclick="closestartProject()"></ion-icon>
        </div>
    <div class="footer-line"></div>
        <div class="get-started-decription">
            <p class="difpara">
               {{startProjectContactAllDetail.description}}
            </p>
        </div>
        <div class="get-started-details">
            
            <a href="https://wa/me/{{startProjectContactAllDetail.PhoneUrl}}">
                <ion-icon name="call"></ion-icon>
                <p>{{startProjectContactAllDetail.Phonenumber}}</p>
            </a>
          <a href="mailto:{{startProjectContactAllDetail.email}}">
            <ion-icon name="mail"></ion-icon>
            <p>{{startProjectContactAllDetail.Email}}</p>
          </a> 
        </div>
        {% endfor %}
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                {% for form in form  %}
                   {{form}} {{form.error|striptags}}
                {% endfor %}
                <button type="submit" class="btn sendmessage"><span class="btn_txt">SEND MESSAGE</span></button>
            </form>
        </div>
    </div>
</div>

<div class="footer-socialicons get-started-socialicons">
       <a href="https://www.facebook.com/microoworld" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a> 
       <a href="https://www.instagram.com/wemicroworld/" target="_blank"><ion-icon name="logo-instagram" ></ion-icon></a> 
       <a href="https://www.linkedin.com/in/micro-world-657a1b253/" target="_blank"><ion-icon name="logo-linkedin" target="_blank"></ion-icon></a> 
       <a href="https://www.youtube.com/channel/UCOVgBFpgI-keY2rL-eLtWYA"  target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
 </div>

</div>
<!-- === header ==== -->